body {
    font-family: "Roboto";
    margin: auto;
    display: block;
}

#main {
    text-align: center;
}

header {
    background-color: grey;
    padding: 3px;

}

.menuBar {
    font-size: 24px;
    padding: 5px;
    padding-top: 15px;
}

.menuBar #recycleThat {
    margin-right: 100px;
    margin-left: 20px;
}

.menuBar #home, #about, #recycle {
    margin-right: 10px;
    margin-left: 20px;
}

.menuBar input {
    float: right;
    margin-right: 10px;
    width: 416px;
    height: 34px;

    background: #FFFFFF;
    border-radius: 3px;
}


#search input {
    float:right;
}

input {
    width: 493px;
    height: 40px;

    background: #FFFFFF;
    border-radius: 3px;
}

button {
    text-align: center;
}

#submit button  {
    width: 40px;
    height: 16px;

    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: normal;

    color: #000000;

}

.rectangle {
    width: 162px;
    height: 202px;
    background: #C4C4C4;
    border-radius: 4px;
    display: inline-block;
    margin-right: 6px;
}